@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;

}

:root{
     --white: #fff;
     --dark1: #1e3620;
     --dark2:#2f5331;
     --dark3: #253f29;
     --dark4:#0e3d25 ;
     --dark5: #b4efbc;
     --dark6: #000400;
     --cyan1: #4efd44;
    
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--dark2);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--dark4);
}

body{
    background: var(--dark6);
    height: 100vh;
    font-family: "lato";
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: var(--dark1) ;
    min-height: 50px;

}
nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color:#fff;
}

.nav-links:hover{
    color: var(--dark4);
    transition: .4s;
    text-decoration: underline;
}

.box-btn-actions{
    display: flex;
    gap:1rem;

}

:is(button,.link-action){
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action{
    background: transparent;
    
    border: 1px solid var(--white);
    color: var(--white);

}

.btn-action:hover{
    background-color: var(--dark3);
    border: 1px solid var(--dark3);

}

.link-action{
    text-decoration: none;
    width: 200px;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

section{
    padding:4rem;
    
}

.first-section{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 150px;

}

.first-section > div{
    display: flex;
    flex-direction: column;
    gap: rem;
    min-width: 300px;

}

h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing:8px;
}

strong{
    color: var(--cyan1);
}

.first-section p{
    color: var(--white);
}

.box-img-main{
  max-width: 450px;
  padding: 1rem;
    
}

.img-profile{
    border-radius: 50%;
    bottom: 0;
    width: 100%;
    
}
:is(.second-section,.fourth-section){
    background-color: var(--dark1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.second-section ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;

}
.second-section ul li{
    color: var(--dark5);
    letter-spacing: 2px;
    font-weight: bold;
}
.second-section ul li:hover{

    color: var(--dark2);
    transition: .4s;
    cursor: default;

}
.title{
    color: var(--dark5);
}

.third-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.third-section >div{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.third-section p{
    color: #fff;
    max-width:600px;
    text-align:justify;
}
.third-section > div img{
    width: 250px;
    border-radius: 10px;
}

footer{
    padding: 4rem;
    display:flex;
    flex-direction: column;
    gap: 2rem ;
}

footer >div{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

#my-projects-list{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

#my-projects-list a{
    text-decoration: none;
    color: var(--dark5);
}

#my-projects-list a:hover{
    color: var(--cyan1);
    transition: .4s;
    cursor: pointer;

}

:is(.img-profile,.img-who-am-i){
    box-shadow: 1px 1px 1px 1px var(--cyan1);
}
